body{
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

h1{
    margin-top: 30px;
}

p{
   text-align:justify; 
    font-size: 15px;
}   


a:link{
    text-decoration: none;
}


.container{
    width: 1000px;
    margin: auto;
}

.linha{
    text-align: center;
    margin: 30px 0;
}

.right{
    float: right;
    margin-left: 15px;
}

.events{
    margin-top: 70px;
}


.ser{
    font-size: 20px;
    margin: auto;
    
}

.colunas{
    width: 480px;
    height: 333px;
    background-color: rgb(174, 186, 169, 0.10 );
    float: left;
    margin-bottom: 15px;
    margin-right: 15px;
    padding: 20px;    
    box-sizing: border-box;
        
}

.clearfix{
    clear: both;
}

.dados{
    float: left;
    padding: 5px 25px;
}

#topo{
    width: 100%;
    height: 60px;
    background-color: rgb(174, 186, 169, 0.90);
    position: fixed;
    
}

#logo{
    float: left;
    margin-top: 7px;
}

#menu{
    float: right;
    margin-top: 20px;
    
}
#menu a{
    color: black;
    text-decoration: none;
    margin-left: 30px;
    font-size: 18px;
}

#banner img{
    width: 100%;
}
iframe{
     margin-left: 140px;
     
      
    }


#rodape{
    text-align: center;
    color: black; 
    margin-top: 60px;
    padding: 20px 0;
    font-size: 12px;     
}


i{
    padding:5px;
    margin-top:15px;
    
}
